@tailwind base;
@tailwind components;
@tailwind utilities;


p{
    font-size: 16px;
    
}

@layer base{
    p{
@apply text-darkwhite
    }
}


:root{
    --light-blue: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%); 
}

.discount{
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
    linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}
.generation{
    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #DEF9FA 0.89%,
     #BEF3F5 17.23%, #9DEDF0 42.04%,
     #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%);
     background-clip: text;
     color: transparent;
     -webkit-background-clip: text;

}
.get-started {
    background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%,
     #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;
}

.border-2{
    background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%,
    #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
   
    color: transparent;
}



.text-gradient{
    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

}

.blur{
    background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214D76 100%);
    border: 1px solid #000000;
    filter: blur(.05px);
}
.blue{
background: linear-gradient(90deg, rgba(26, 41, 128, 0.5) 0%, rgba(38, 208, 206, 0.5) 100%);
filter: blur(325px);

}
.white{
background: rgba(255, 255, 255, 0.6);
filter: blur(195px);
}
.black{
background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214D76 100%);

filter: blur(85px);
}

.shadow {
    width: 400px;
    
    background:  rgba(26, 41, 128, 0.15);
    background-clip: padding-box;
}

.btn {
    background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
    color: #000000;
    width: 100px;
    font-weight: 500;
}


.focus:hover,
.focus:focus{
    transition: ease-in-out;
    padding: 20px;
    background: linear-gradient(153.47deg, rgba(255, 255, 255, 0) -341.94%, #14101D 95.11%);
    box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
    border-radius: 20px;
}

.card{
    width: 290px;
}
.card:hover,
.card:focus{
    background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
}

.services{
    background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
     border-radius: 20px;
}

#footer{
    background-color: #0B0A0C99;
    position: relative;
}
.border-t-2{
    border-color:#3F3E45;
}


    
